<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates the module Edit page." %>
<%@ Property Name="NameSpace" Type="String" Default="He3" Category="EntityClass" Description="The assembly that contains the entity class." %>
<%@ Property Name="ModuleName" Type="String" Category="EntityClass" Description="The module name of current module, for example, 'User Admin'" %>
<%@ Property Name="ClassName" Type="String"  Category="EntityClass" Description="The editing entity class name, for example, 'User'" %>
<%@ Property Name="Mapping" Type="He3.CodeSmith.MappingProperty" Category="Mapping" Description="The O/R mapping settings." %>
<%@ Assembly Name="He3.CodeSmith" %>
<%@ Import Namespace="He3.CodeSmith" %>
<%@ Import Namespace="System.Text" %>

<%%@ Control Language="C#" AutoEventWireup="true" CodeFile="Edit.ascx.cs" Inherits="<%=ClassName%>_Edit" %>
<%%@ Register Src="~/WebForms/Controls/TextBox.ascx" TagName="textbox" TagPrefix="uc3" %>
<%%@ Register Assembly="He3.Core" Namespace="He3.Core.Control" TagPrefix="cc1" %>

<fieldset>
    <legend>编辑</legend>
    <table class="mtable">
    <tr>
    <% 
    int i=0;
    foreach (MappingInfo mappingInfo in Mapping.MappingInfoCollection)
    {
        %>
        <td class="td01"><%=string.IsNullOrEmpty(mappingInfo.ColumnText)?mappingInfo.ClassPropertyName:mappingInfo.ColumnText %>:</td>
        <td class="td02">
        <%
        if (mappingInfo.DataType == "Boolean")
    	{
        %>
        <asp:CheckBox ID="cb<%=mappingInfo.ClassPropertyName%>" runat="server" Enabled="<%=mappingInfo.IsEdit%>"/>
    	<%
    	}
        else
    	{
            if (mappingInfo.IsEdit)
        	{
                var vType = string.Empty;
                var wdatePicker = string.Empty;
                var dataLength = string.Empty;
                if (mappingInfo.DataType=="Int16"||mappingInfo.DataType=="Int32"||mappingInfo.DataType=="Int64")
            	{
                    vType = "Integer"; 
            	}
                else if (mappingInfo.DataType=="Decimal"||mappingInfo.DataType=="Double")
            	{
            		vType = "Double"; 
            	}
                else if (mappingInfo.DataType=="DateTime")
            	{
            		vType = "Date"; 
                    wdatePicker = @"onClick=""WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})""";
        	    }
                else if (mappingInfo.DataType=="String")
            	{
            		 dataLength= string.Format(@"MaxLength=""{0}""", mappingInfo.DataLength);
            	}
                if (mappingInfo.IsNullable)
            	{
            %>
        <asp:TextBox ID="tb<%=mappingInfo.ClassPropertyName%>" runat="server" />
        	<%
            	}
                else
            	{
            %>
         <asp:TextBox ID="tb<%=mappingInfo.ClassPropertyName%>" runat="server" CssClass="inputRequired" <%=wdatePicker%> <%=dataLength%> />
         <asp:RequiredFieldValidator ID="rfv<%=mappingInfo.ClassPropertyName%>" runat="server" ControlToValidate="tb<%=mappingInfo.ClassPropertyName%>"
              Display="Dynamic" ErrorMessage="不允许为空" ValidationGroup="vgSave" ForeColor="Red"/>
        	<%
            	}
                if (vType != string.Empty && mappingInfo.DataType!="DateTime")
            	{
               %>
		 <asp:RangeValidator ID="rv<%=mappingInfo.ClassPropertyName%>" ControlToValidate="tb<%=mappingInfo.ClassPropertyName%>" runat="server" ForeColor="Red"
            ValidationGroup="vgSave" ErrorMessage="请输入数字" MinimumValue="-9999999" MaximumValue="99999999" Type="<%=vType%>" Display="Dynamic" />
               <%  
                }
        	}
            else
        	{
        %>
         <asp:Label ID="lb<%=mappingInfo.ClassPropertyName%>" runat="server" />
    	<%
        	}
    	}
        
        %>
        </td>            
		<%    
        
        if (i%2==1)
    	{
    	 %>
         </tr>
         <tr>
         <%
    	}
        i++;
    } %>
    </tr>
    </table>
    <div class="tablefooter">
        <cc1:Button id="btnUpdate" runat="server" Text="保存" OnClick="btnUpdate_Click" FunctionId="Page_MD_Edit" ValidationGroup="vgSave" />
        <asp:Button ID="btnBack" runat="server" Text="返回" OnClick="btnBack_Click" />
    </div>
</fieldset>
